
  <h1 class="elementor-heading-title elementor-size-default text-center">Nuestras tarifas fibra + móvil:</h1>
  <br><br>

<!--Section: Cards-->
<div class="row features-small mt-4 wow fadeIn">


  <!--Grid column-->
  <div class="col-xl-3 col-lg-4">
    <!--Grid row-->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10 mb-2">
            <h2 class="feature-title font-bold mb-1">Fibra + 9GB</h2>
            <h5>Fibra óptica + llamadas ilimitadas</h5>
            <h1>29.80€</h1>
            <p class="grey-text mt-2">IVA incluido</p>
            <div class="row">
              <div class="col-5"><button type="button" class="btn btn-primary">Contratar</button></div>
              <div class="col-5"><button type="button" class="btn btn-secondary">+Info</button></div>
            </div>
            <br>

            <p><i class="fas fa-check" style="color:#00CF83"></i> Precio final</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Cobertura 4G Vodafone</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Sin permanencia</p>
          </div>
        </div>
      </div>
    </div>
    <!--/Grid row-->
  </div>
    <!--/Grid column-->



  <!--Grid column-->
  <div class="col-xl-3 col-lg-4">
    <!--Grid row-->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10 mb-2">
            <h2 class="feature-title font-bold mb-1">Fibra + 17GB</h2>
            <h5>Fibra óptica + llamadas ilimitadas</h5>
            <h1>33.80€</h1>
            <p class="grey-text mt-2">IVA incluido</p>
            <div class="row">
              <div class="col-5"><button type="button" class="btn btn-primary">Contratar</button></div>
              <div class="col-5"><button type="button" class="btn btn-secondary">+Info</button></div>
            </div>
            <br>

            <p><i class="fas fa-check" style="color:#00CF83"></i> Precio final</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Cobertura 4G Vodafone</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Sin permanencia</p>
          </div>
        </div>
      </div>
    </div>
    <!--/Grid row-->
  </div>
    <!--/Grid column-->


 <!--Grid column-->
  <div class="col-xl-3 col-lg-4">
    <!--Grid row-->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10 mb-2">
            <h2 class="feature-title font-bold mb-1">Fibra + 52GB</h2>
            <h5>Fibra óptica + llamadas ilimitadas</h5>
            <h1>37.80€</h1>
            <p class="grey-text mt-2">IVA incluido</p>
            <div class="row">
              <div class="col-5"><button type="button" class="btn btn-primary">Contratar</button></div>
              <div class="col-5"><button type="button" class="btn btn-secondary">+Info</button></div>
            </div>
            <br>

            <p><i class="fas fa-check" style="color:#00CF83"></i> Precio final</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Cobertura 4G Vodafone</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Sin permanencia</p>
          </div>
        </div>
      </div>
    </div>
    <!--/Grid row-->
  </div>
    <!--/Grid column-->



 <!--Grid column-->
  <div class="col-xl-3 col-lg-4">
    <!--Grid row-->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10 mb-2">
            <h2 class="feature-title font-bold mb-1">Fibra + 92GB</h2>
            <h5>Fibra óptica + llamadas ilimitadas</h5>
            <h1>41.80€</h1>
            <p class="grey-text mt-2">IVA incluido</p>
            <div class="row">
              <div class="col-5"><button type="button" class="btn btn-primary">Contratar</button></div>
              <div class="col-5"><button type="button" class="btn btn-secondary">+Info</button></div>
            </div>
            <br>

            <p><i class="fas fa-check" style="color:#00CF83"></i> Precio final</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Cobertura 4G Vodafone</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Sin permanencia</p>
          </div>
        </div>
      </div>
    </div>
    <!--/Grid row-->
  </div>
    <!--/Grid column-->


</div>

<!--Section: Cards-->
<!--Section: Tabs-->
<br>
<hr class="mb-5">

<!--Section: Main info-->
<section class="mt-5 wow fadeIn">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <h1 class="elementor-heading-title elementor-size-default">Nuestras tarifas incluyen:</h1>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">




            <br>
            <p><i class="fas fa-check" style="color:#00CF83"></i>   Nuestra fibra no lleva línea telefónica, por lo que te ahorras la cuota de línea.</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i>   Nuestras tarifas siempre tienen opción sin permanencia: ven y vete cuando desees.</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i>   Nuestros precios no son promocionales, sino definitivos: no se incrementarán después.</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i>   Atendemos con personas, y aplicamos las ofertas a los ya clientes.</p>




    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Main info-->
<br>
<hr class="mb-5">
<!--Section: Main info-->
<section class="mt-5 wow fadeIn">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <h1 class="elementor-heading-title elementor-size-default">Instalación y equipos:</h1>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">




            <br>
            <p><i class="fas fa-check" style="color:#00CF83"></i> <strong>   Contratación sin permanencia</strong> <br><br>Las tarifas de fibra óptica de imagine, por defecto, son sin permanencia. Para ello el cliente deberá satisfacer en el momento de la instalación el coste de la misma (99 € IVA inc.) y podrá disfrutar del servicio con los equipos en modalidad de cesión por 0 €/al mes.</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> <strong>   Contratación con permanencia</strong> <br><br>En caso de que el cliente desee ahorrarse el pago de la instalación puede suscribir un contrato de permanencia por 12 meses con imagine. Este contrato implica numerosas ventajas para el cliente: instalación sin cargo y equipos en cesión por 0€/al mes (importe asumido por imagine para premiar la fidelidad del cliente), durante los 12 meses posteriores a la fecha de activación. Transcurridos estos 12 meses expirará el compromiso de permanencia y el cliente podrá seguir disfrutando del servicio, con los equipos en modalidad de cesión. En caso de baja el cliente deberá devolver los equipos propiedad de imagine.</p>




    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Main info-->
<br>
<hr class="mb-5">
<!--Section: Contratar-->
<section>

  <h1 class="my-5 h3 text-center wow fadeIn">¿Por qué contratar tu tarifa móvil con Imagine?</h1>

  <!--First row-->
  <div class="row features-small mt-5 wow fadeIn">

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-project-diagram fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2 pl-3">
          <h5 class="feature-title font-bold mb-1">La verdadera conexión​</h5>
          <p class="grey-text mt-2">Fibra con Mb simétricos para tu casa y muchos GB para tu móvil. Sin permanencia. Palabra.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-hand-holding-usd fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Sencillez y ahorro</h5>
          <p class="grey-text mt-2">Aquí solo encontraras tarifas sencillas donde pagas por lo que necesitas.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-tags fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Precio para siempre</h5>
          <p class="grey-text mt-2">Somos gente de palabra, si te decimos un precio, lo mantendremos para siempre.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->



  </div>
  <!--/First row-->

  <!--Second row-->
  <div class="row features-small mt-4 wow fadeIn">

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-heart fa-2x mb-1" aria-hidden="true"  style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Te queremos</h5>
          <p class="grey-text mt-2">Si quieres venirte a Imagine, nos ocupamos de todo para que tú no tengas que hacer nada. Prometido.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-map-marker-alt fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Somos de aquí</h5>
          <p class="grey-text mt-2">Sí, al igual que tú. Por eso hablamos tu idioma y entendemos tus dudas y necesidades.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-mobile fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">App “Imaginer”</h5>
          <p class="grey-text mt-2">Controla tu consumo, descarga tus facturas, configura tus líneas y muchas cosas más.</p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->



  </div>
  <!--/Second row-->

</section>
<!--Section: More-->
