<!--Section: Main info-->
<section class="mt-5 text-center wow fadeIn">


  <h1 class="elementor-heading-title elementor-size-default"> {{ 'tv.title' | translate }}</h1>

  <br><br>
</section>
<!--Section: Main info-->
<!--Section: Picture-->
<section class="mt-5 wow fadeIn">
  <img class="img-responsive center-block" src="assets/img/STB-y-Mando.png"></section>
<!--Section: Picture-->
<!--Section: Main info-->
<section class="mt-5 text-center wow fadeIn">


  <h1 class="elementor-heading-title elementor-size-default">{{ 'tv.title2' | translate }}</h1>

<br><br><br><br>
</section>
<!--Section: Main info-->


<div class="embed-responsive embed-responsive-16by9 wow fadeIn" >
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="assets\videos\video-banner-zapi-v2.mp4" type="video/mp4">
  </video>
  <br><br>
</div>
<!--Section: Main info-->
<section class="mt-5 text-center wow fadeIn">


    <h1 class="elementor-heading-title elementor-size-default">{{ 'tv.combine' | translate }} </h1>


    <br>
    <br>
    <p> {{ 'tv.combine_desc' | translate }}</p>
    <div class="d-flex justify-content-center">
      <div class="col-5"><button type="button" class="btn btn-primary center-block">{{ 'home.hire' | translate }}</button></div>
    </div>



</section>
<!--Section: Main info-->
<!--Section: Picture-->
<section class="mt-5 wow fadeIn">
  <img class="img-responsive center-block" src="assets/img/TV-principal.png"></section>
<!--Section: Picture-->
<!--Section: Main info-->
<section class="mt-5 wow fadeIn">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <h1 class="elementor-heading-title elementor-size-default">{{ 'tv.discover' | translate }}</h1>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">




            <br>
            <br>
            <br>
            <br>
            <p>{{ 'tv.discover_desc' | translate }}</p>



    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Main info-->
<!--Section: Picture-->
<section class="mt-5 wow fadeIn">
  <img class="img-responsive center-block" src="assets/img/guarda-contenidos-zapi.png"></section>
<!--Section: Picture-->
<!--Section: Contratar-->
<section>

  <h1 class="my-5 h3 text-center wow fadeIn">{{ 'home.why_imagine' | translate }}</h1>
  <!--First row-->
  <div class="row features-small mt-5 wow fadeIn">

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-tv fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2 pl-3">
          <h5 class="feature-title font-bold mb-1">{{ 'tv.tv_best' | translate }}​</h5>
          <p class="grey-text mt-2">{{ 'tv.tv_best_desc' | translate }}
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-hand-holding-usd fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">{{ 'home.simple' | translate }}</h5>
          <p class="grey-text mt-2">{{ 'home.simple_desc' | translate }}
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-tags fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">{{ 'home.price_for_ever' | translate }}</h5>
          <p class="grey-text mt-2">{{ 'home.price_for_ever_desc' | translate }}              </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->



  </div>
  <!--/First row-->

  <!--Second row-->
  <div class="row features-small mt-4 wow fadeIn">

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-heart fa-2x mb-1" aria-hidden="true"  style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">{{ 'home.love' | translate }}</h5>
          <p class="grey-text mt-2">{{ 'home.love_desc' | translate }}              </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-map-marker-alt fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">{{ 'home.from_here' | translate }}</h5>
          <p class="grey-text mt-2">{{ 'home.from_here_desc' | translate }}              </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-mobile fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">{{ 'home.area_imagine' | translate }}</h5>
          <p class="grey-text mt-2">{{ 'home.area_imagine_desc' | translate }}            </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->



  </div>
  <!--/Second row-->

</section>
<!--Section: More-->
