<!--Section: Main info-->
<section class="mt-5 text-center wow fadeIn">


  <h1 class="elementor-heading-title elementor-size-default"> Disfruta de los mejores canales de streaming.</h1>

  <br><br>
</section>
<!--Section: Main info-->
<!--Section: Picture-->
<section class="mt-5 wow fadeIn">
  <img class="img-responsive center-block" src="assets/img/STB-y-Mando.png"></section>
<!--Section: Picture-->
<!--Section: Main info-->
<section class="mt-5 text-center wow fadeIn">


  <h1 class="elementor-heading-title elementor-size-default">Descubre todas las funcionalidades y contenidos multipantalla de Zapi.</h1>

<br><br><br><br>
</section>
<!--Section: Main info-->


<div class="embed-responsive embed-responsive-16by9 wow fadeIn" >
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="assets\videos\video-banner-zapi-v2.mp4" type="video/mp4">
  </video>
  <br><br>
</div>
<!--Section: Main info-->
<section class="mt-5 text-center wow fadeIn">


    <h1 class="elementor-heading-title elementor-size-default">Combinalo con tu fibra por sólo 8,9€ al mes. </h1>


    <br>
    <br>
    <p> Disfrutalo hasta en 4 dispositivos diferentes.</p>
    <div class="d-flex justify-content-center">
      <div class="col-5"><button type="button" class="btn btn-primary center-block">Contratar</button></div>
    </div>



</section>
<!--Section: Main info-->
<!--Section: Picture-->
<section class="mt-5 wow fadeIn">
  <img class="img-responsive center-block" src="assets/img/TV-principal.png"></section>
<!--Section: Picture-->
<!--Section: Main info-->
<section class="mt-5 wow fadeIn">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <h1 class="elementor-heading-title elementor-size-default">Descubre los mejores contenidos con Zapi</h1>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">




            <br>
            <br>
            <br>
            <br>
            <p>Además, los más pequeños de la casa tendrán acceso a los programas, películas y dibujos para que crezcan aprendiendo y al mismo tiempo divirtiéndose con sus personajes favoritos.</p>



    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Main info-->
<!--Section: Picture-->
<section class="mt-5 wow fadeIn">
  <img class="img-responsive center-block" src="assets/img/guarda-contenidos-zapi.png"></section>
<!--Section: Picture-->
<!--Section: Contratar-->
<section>

  <h1 class="my-5 h3 text-center wow fadeIn">¿Por qué contratar tu televisión con Imagine?</h1>

  <!--First row-->
  <div class="row features-small mt-5 wow fadeIn">

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-tv fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2 pl-3">
          <h5 class="feature-title font-bold mb-1">La mejor television​</h5>
          <p class="grey-text mt-2">La mejor selección de canales para disfrutar con tu familia.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-hand-holding-usd fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Sencillez y ahorro</h5>
          <p class="grey-text mt-2">Aquí solo encontraras tarifas sencillas donde pagas por lo que necesitas.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-tags fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Precio para siempre</h5>
          <p class="grey-text mt-2">Somos gente de palabra, si te decimos un precio, lo mantendremos para siempre.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->



  </div>
  <!--/First row-->

  <!--Second row-->
  <div class="row features-small mt-4 wow fadeIn">

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-heart fa-2x mb-1" aria-hidden="true"  style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Te queremos</h5>
          <p class="grey-text mt-2">Si quieres venirte a Imagine, nos ocupamos de todo para que tú no tengas que hacer nada. Prometido.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-map-marker-alt fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Somos de aquí</h5>
          <p class="grey-text mt-2">Sí, al igual que tú. Por eso hablamos tu idioma y entendemos tus dudas y necesidades.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-mobile fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">App “Imaginer”</h5>
          <p class="grey-text mt-2">Controla tu consumo, descarga tus facturas, configura tus líneas y muchas cosas más.</p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->



  </div>
  <!--/Second row-->

</section>
<!--Section: More-->
