<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">

    </div>

    <!-- Login Form -->
    <form [formGroup]="form" (submit)="submit()">
      <h1>Login!</h1>
      <input type="email" formControlName="email" class="fadeIn second" placeholder="Email">
      <input type="password" formControlName="password" class="fadeIn third" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
      <div *ngIf="successfulResponse" class="alert alert-success box-msg" role="alert">
        <strong>Found</strong>
      </div>
      <div *ngIf="failedResponse" class="alert alert-danger box-msg" role="alert">
        <strong>Invalid Credentials</strong>
        <br>
      <h2>Haven't registered yet?</h2>
      <input type="submit" class="fadeIn fourth" value="Register" routerLink="/register">



    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
