<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">

    </div>

    <!-- Login Form -->
    <form [formGroup]="form" (submit)="submit()">
      <h1>{{ 'login.login' | translate }}</h1>
      <input type="email" formControlName="email" class="fadeIn second" placeholder="{{ 'register.email' | translate }}">
      <div *ngIf="email && (email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">{{ 'register.email*' | translate }}</span>
        <span *ngIf="email.errors?.email">{{ 'register.email*inv' | translate }}</span>
      </div>
      <input type="password" formControlName="password" class="fadeIn third" placeholder="{{ 'register.password' | translate }}">
      <div *ngIf="password && (password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">{{ 'register.password*' | translate }}</span>
        <span *ngIf="password.errors?.minlength">{{ 'register.password*min' | translate }}</span>
      </div>
      <input type="submit" class="fadeIn fourth" value="{{ 'login.loginbtn' | translate }}">
    </form>
      <div *ngIf="failedResponse" class="alert alert-danger box-msg" role="alert">
        <strong>{{ 'login.invalid_credentials' | translate }}</strong>
        <br>
      </div>
      <div *ngIf="userNotVerified" class="alert alert-danger box-msg" role="alert">
        <strong>{{ 'login.not_verified' | translate }}</strong>
        <br>
      </div>
      <br>
      <h2>{{ 'login.registered?' | translate }}</h2><br>
      <input type="submit" class="fadeIn fourth" value="{{ 'login.registerbtn' | translate }}" routerLink="/register">



    <!-- Remind Passowrd -->
    <div id="formFooter"  style="display: none;">
      <a class="underlineHover" href="#">{{ 'login.forgot_pw' | translate }}</a>
    </div>

  </div>
</div>
