
  <h1 class="elementor-heading-title elementor-size-default text-center">Nuestras tarifas móvil:</h1>
  <br><br>

<!--Section: Cards-->
<div class="row features-small mt-4 wow fadeIn">


  <!--Grid column-->
  <div class="col-xl-3 col-lg-4">
    <!--Grid row-->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10 mb-2">
            <h2 class="feature-title font-bold mb-1">Móvil 9GB</h2>
            <h5>Llamadas ilimitadas</h5>
            <h1>8.90€</h1>
            <p class="grey-text mt-2">IVA incluido</p>
            <div class="row">
              <div class="col-5"><button routerLink="/register-no-fiber"  type="button" class="btn btn-primary">Contratar</button></div>
              <div class="col-5"><button type="button" class="btn btn-secondary">+Info</button></div>
            </div>
            <br>

            <p><i class="fas fa-check" style="color:#00CF83"></i> Precio final</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Cobertura 4G Vodafone</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Sin permanencia</p>
          </div>
        </div>
      </div>
    </div>
    <!--/Grid row-->
  </div>
    <!--/Grid column-->



  <!--Grid column-->
  <div class="col-xl-3 col-lg-4">
    <!--Grid row-->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10 mb-2">
            <h2 class="feature-title font-bold mb-1">Móvil 17GB</h2>
            <h5>Llamadas ilimitadas</h5>
            <h1>12.90€</h1>
            <p class="grey-text mt-2">IVA incluido</p>
            <div class="row">
              <div class="col-5"><button routerLink="/register-no-fiber"  type="button" class="btn btn-primary">Contratar</button></div>
              <div class="col-5"><button type="button" class="btn btn-secondary">+Info</button></div>
            </div>
            <br>

            <p><i class="fas fa-check" style="color:#00CF83"></i> Precio final</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Cobertura 4G Vodafone</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Sin permanencia</p>
          </div>
        </div>
      </div>
    </div>
    <!--/Grid row-->
  </div>
    <!--/Grid column-->


 <!--Grid column-->
  <div class="col-xl-3 col-lg-4">
    <!--Grid row-->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10 mb-2">
            <h2 class="feature-title font-bold mb-1">Móvil 52GB</h2>
            <h5>Llamadas ilimitadas</h5>
            <h1>16.90€</h1>
            <p class="grey-text mt-2">IVA incluido</p>
            <div class="row">
              <div class="col-5"><button routerLink="/register-no-fiber"  type="button" class="btn btn-primary">Contratar</button></div>
              <div class="col-5"><button type="button" class="btn btn-secondary">+Info</button></div>
            </div>
            <br>

            <p><i class="fas fa-check" style="color:#00CF83"></i> Precio final</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Cobertura 4G Vodafone</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Sin permanencia</p>
          </div>
        </div>
      </div>
    </div>
    <!--/Grid row-->
  </div>
    <!--/Grid column-->



 <!--Grid column-->
  <div class="col-xl-3 col-lg-4">
    <!--Grid row-->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-10 mb-2">
            <h2 class="feature-title font-bold mb-1">Móvil 92GB</h2>
            <h5>Llamadas ilimitadas</h5>
            <h1>20.90€</h1>
            <p class="grey-text mt-2">IVA incluido</p>
            <div class="row">
              <div class="col-5"><button routerLink="/register-no-fiber"  type="button" class="btn btn-primary">Contratar</button></div>
              <div class="col-5"><button type="button" class="btn btn-secondary">+Info</button></div>
            </div>
            <br>

            <p><i class="fas fa-check" style="color:#00CF83"></i> Precio final</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Cobertura 4G Vodafone</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> Sin permanencia</p>
          </div>
        </div>
      </div>
    </div>
    <!--/Grid row-->
  </div>
    <!--/Grid column-->


</div>

<!--Section: Cards-->
<!--Section: Tabs-->
<br>
<hr class="mb-5">

<!--Section: Main info-->
<section class="mt-5 wow fadeIn">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <h1 class="elementor-heading-title elementor-size-default">Nuestras tarifas incluyen:</h1>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">




            <br>
            <p><i class="fas fa-check" style="color:#00CF83"></i>   Reducción de la velocidad si te quedas sin datos (1 GB extra).</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i>   Sin permanencia, ni penalizaciones.</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i>   Precio para siempre, sin sorpresas.</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i>   Roaming gratuito en la Unión Europea.</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i>   Envío GRATIS de SIM universal.</p>



    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Main info-->
<br>
<hr class="mb-5">
<!--Section: Main info-->
<section class="mt-5 wow fadeIn">

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <h1 class="elementor-heading-title elementor-size-default">Servicios adicionales:</h1>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">




            <br>
            <p><i class="fas fa-check" style="color:#00CF83"></i> <strong>  DUAL SIM</strong> Tendrás una copia exacta de tu SIM que podrás insertar en otro dispositivo, pudiendo usar ambos a la vez. Los dos dispositivos compartirán la misma tarifa que tengas contratada. (5€/mes)</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> <strong>  IP FIJA</strong> en la tarjeta SIM de tu dispositivo. Esta prestación es especialmente útil para dispositivos loT o cualquier equipo que precise IP Fija para acceso remoto. (5€/mes).</p>
            <p><i class="fas fa-check" style="color:#00CF83"></i> <strong>  NÚMEROS CORTOS</strong> Si tienes varias líneas móviles, puedes asignarles numeración corta y disfrutar de llamadas nacionales ilimitadas entre ellos. (2€/mes/línea)</p>




    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Main info-->
<br>
<hr class="mb-5">
<!--Section: Contratar-->
<section>

  <h1 class="my-5 h3 text-center wow fadeIn">¿Por qué contratar tu tarifa móvil con Imagine?</h1>

  <!--First row-->
  <div class="row features-small mt-5 wow fadeIn">

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-signal fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2 pl-3">
          <h5 class="feature-title font-bold mb-1">La tarifa móvil que te mereces</h5>
          <p class="grey-text mt-2">Elige la tranquilidad de tener siempre gigas. La mejor tarifa móvil con hasta 85 GB.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-hand-holding-usd fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Sencillez y ahorro</h5>
          <p class="grey-text mt-2">Aquí solo encontraras tarifas sencillas donde pagas por lo que necesitas.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-tags fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Precio para siempre</h5>
          <p class="grey-text mt-2">Somos gente de palabra, si te decimos un precio, lo mantendremos para siempre.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->



  </div>
  <!--/First row-->

  <!--Second row-->
  <div class="row features-small mt-4 wow fadeIn">

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-heart fa-2x mb-1" aria-hidden="true"  style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Te queremos</h5>
          <p class="grey-text mt-2">Si quieres venirte a Imagine, nos ocupamos de todo para que tú no tengas que hacer nada. Prometido.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-map-marker-alt fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">Somos de aquí</h5>
          <p class="grey-text mt-2">Sí, al igual que tú. Por eso hablamos tu idioma y entendemos tus dudas y necesidades.
          </p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->

    <!--Grid column-->
    <div class="col-xl-4 col-lg-6">
      <!--Grid row-->
      <div class="row">
        <div class="col-2">
          <i class="fas fa-mobile fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
        </div>
        <div class="col-10 mb-2">
          <h5 class="feature-title font-bold mb-1">App “Imaginer”</h5>
          <p class="grey-text mt-2">Controla tu consumo, descarga tus facturas, configura tus líneas y muchas cosas más.</p>
        </div>
      </div>
      <!--/Grid row-->
    </div>
    <!--/Grid column-->



  </div>
  <!--/Second row-->

</section>
<!--Section: More-->
