
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade wow fadeInUp"    data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
          alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{ 'home.caroussel_text' | translate }}</h3>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
          alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{ 'home.caroussel_text' | translate }}</h3>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
          alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{ 'home.caroussel_text' | translate }}</h3>
        <p></p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">{{ 'home.previous' | translate }}</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">{{ 'home.next' | translate }}</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<hr class="my-5 wow fadeInUp">
<h1 class="section-heading pt-4 text-center wow fadeInUp" data-wow-delay="0.7s" >{{ 'home.imagine_rate' | translate }}</h1>
<hr class="my-5 wow fadeInUp">



<!--Main layout-->
<main>


    <!--Section: Main info- ->
    <section class="mt-5 wow fadeIn">

      <!--Grid row- ->
      <div class="row">

        <!--Grid column- ->
        <div class="col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half"
            alt="">

        </div>
        <!--Grid column- ->

        <!--Grid column- ->
        <div class="col-md-6 mb-4">

          <!-- Main heading - ->
          <h3 class="h3 mb-3">Material Design for Bootstrap</h3>
          <p>This template is created with Material Design for Bootstrap (
            <strong>MDB</strong> ) framework.</p>
          <p>Read details below to learn more about MDB.</p>
          <!-- Main heading - ->

          <hr>

          <p>
            <strong>400+</strong> material UI elements,
            <strong>600+</strong> material icons,
            <strong>74</strong> CSS animations, SASS files, templates, tutorials and many more.
            <strong>Free for personal and commercial use.</strong>
          </p>

          <!-- CTA - ->
          <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" class="btn btn-grey btn-md">Download
            <i class="fas fa-download ml-1"></i>
          </a>
          <a target="_blank" href="https://mdbootstrap.com/docs/jquery/components/" class="btn btn-grey btn-md">Live
            demo
            <i class="far fa-image ml-1"></i>
          </a>

        </div>
        <!--Grid column- ->

      </div>
      <!--Grid row- ->

    </section>
    <!--Section: Main info-->


    <!--Section: Main features & Quick Start- ->
    <section>

      <h3 class="h3 text-center mb-5 wow fadeInUp" data-wow-delay="0.7s">About MDB</h3>

      <!--Grid row- ->
      <div class="row wow fadeIn">

        <!--Grid column- ->
        <div class="col-lg-6 col-md-12 px-4">

          <!--First row- ->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-code fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Bootstrap 4</h5>
              <p class="grey-text">Thanks to MDB you can take advantage of all feature of newest Bootstrap 4.</p>
            </div>
          </div>
          <!--/First row- ->

          <div style="height:30px"></div>

          <!--Second row- ->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-book fa-2x blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Detailed documentation</h5>
              <p class="grey-text">We give you detailed user-friendly documentation at your disposal. It will help
                you to implement your ideas
                easily.
              </p>
            </div>
          </div>
          <!--/Second row- ->

          <div style="height:30px"></div>

          <!--Third row-- >
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-graduation-cap fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Lots of tutorials</h5>
              <p class="grey-text">We care about the development of our users. We have prepared numerous tutorials,
                which allow you to learn
                how to use MDB as well as other technologies.</p>
            </div>
          </div>
          <!--/Third row- ->

        </div>
        <!--/Grid column- ->

        <!--Grid column- ->
        <div class="col-lg-6 col-md-12">

          <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
          </div>
        </div>
        <!--/Grid column- ->

      </div>
      <!--/Grid row-- >

    </section>
    <!--Section: Main features & Quick Start-->

<!--
    <!--Section: Not enough- ->
    <section>

      <h2 class="my-5 h3 text-center wow fadeIn">Not enough?</h2>

      <!--First row- ->
      <div class="row features-small mb-5 mt-3 wow fadeIn">

        <!--First column- ->
        <div class="col-md-4">
          <!--First row- ->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Free for personal and commercial use</h6>
              <p class="grey-text">Our license is user-friendly. Feel free to use MDB for both private as well as
                commercial projects.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/First row- ->

          <!--Second row- ->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">400+ UI elements</h6>
              <p class="grey-text">An impressive collection of flexible components allows you to develop any project.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Second row- ->

          <!--Third row- ->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">600+ icons</h6>
              <p class="grey-text">Hundreds of useful, scalable, vector icons at your disposal.</p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Third row- ->

          <!--Fourth row- ->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Fully responsive</h6>
              <p class="grey-text">It doesn't matter whether your project will be displayed on desktop, laptop,
                tablet or mobile phone. MDB
                looks great on each screen.</p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Fourth row- ->
        </div>
        <!--/First column- ->

        <!--Second column- ->
        <div class="col-md-4 flex-center">
          <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone"
            class="z-depth-0 img-fluid">
        </div>
        <!--/Second column- ->

        <!--Third column- ->
        <div class="col-md-4 mt-2">
          <!--First row- ->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">70+ CSS animations</h6>
              <p class="grey-text">Neat and easy to use animations, which will increase the interactivity of your
                project and delight your visitors.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/First row- ->

          <!--Second row- ->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Plenty of useful templates</h6>
              <p class="grey-text">Need inspiration? Use one of our predefined templates for free.</p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Second row- ->

          <!--Third row- ->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Easy installation</h6>
              <p class="grey-text">5 minutes, a few clicks and... done. You will be surprised at how easy it is.
              </p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Third row- ->

          <!--Fourth row- ->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-check-circle fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h6 class="feature-title">Easy to use and customize</h6>
              <p class="grey-text">Using MDB is straightforward and pleasant. Components flexibility allows you deep
                customization. You will
                easily adjust each component to suit your needs.</p>
              <div style="height:15px"></div>
            </div>
          </div>
          <!--/Fourth row- ->
        </div>
        <!--/Third column- ->

      </div>
      <!--/First row- ->

    </section>
    <!--Section: Not enough- ->
-->



    <!--Section: Cards-->
    <div class="row features-small mt-4 wow fadeIn">

      <!--Grid column-->
      <div class="col-xl-4 col-lg-6">
        <!--Grid row-->
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-10 mb-2">
                <h2 class="feature-title font-bold mb-1">{{ 'home.plan100mb+17gb' | translate }}</h2>
                <h5>{{ 'home.fiber+mobile' | translate }}</h5>
                <h1>29,90€</h1>
                <p class="grey-text mt-2">{{ 'home.tax_included' | translate }}</p>
                <div class="row">
                  <div class="col-5"><button  routerLink="/register"  type="button" class="btn btn-primary">{{ 'home.hire' | translate }}</button></div>
                  <div class="col-5"><button type="button" class="btn btn-secondary">+Info</button></div>
                </div>
                <br>
                <p><i class="fas fa-check" style="color:#00CF83"></i> {{ 'home.final_price' | translate }}</p>
                <p><i class="fas fa-check" style="color:#00CF83"></i> {{ 'home.coverage4g' | translate }}</p>
                <p><i class="fas fa-check" style="color:#00CF83"></i> {{ 'home.no_permanence' | translate }}</p>
              </div>
            </div>
          </div>
        </div>

        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-4 col-lg-6">
        <!--Grid row-->
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-10 mb-2">
                <h2 class="feature-title font-bold mb-1">{{ 'home.plan300mb+17gb' | translate }}</h2>
                <h5>{{ 'home.fiber+mobile' | translate }}</h5>
                <h1>35,90€</h1>
                <p class="grey-text mt-2">{{ 'home.tax_included' | translate }}</p>
                <div class="row">
                  <div class="col-5"><button routerLink="/register"  type="button" class="btn btn-primary">{{ 'home.hire' | translate }}</button></div>
                  <div class="col-5"><button type="button" class="btn btn-secondary">+Info</button></div>
                </div>
                <br>

                <p><i class="fas fa-check" style="color:#00CF83"></i> {{ 'home.final_price' | translate }}</p>
                <p><i class="fas fa-check" style="color:#00CF83"></i> {{ 'home.coverage4g' | translate }}</p>
                <p><i class="fas fa-check" style="color:#00CF83"></i> {{ 'home.no_permanence' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

      <!--Grid column-->
      <div class="col-xl-4 col-lg-6">
        <!--Grid row-->
        <div class="card">
          <div class="card-body">
              <h2>{{ 'home.our_rates_include' | translate }}</h2>
              <br>
              <p><i class="fas fa-check" style="color:#00CF83"></i>   {{ 'home.fastest_coverage' | translate }}</p>
              <p><i class="fas fa-check" style="color:#00CF83"></i>   {{ 'home.speed_reduction' | translate }}</p>
              <p><i class="fas fa-check" style="color:#00CF83"></i>   {{ 'home.no_permanence_or_penalty' | translate }}</p>
              <p><i class="fas fa-check" style="color:#00CF83"></i>   {{ 'home.price_forever' | translate }}</p>
              <p><i class="fas fa-check" style="color:#00CF83"></i>   {{ 'home.free_roaming' | translate }}</p>
              <p><i class="fas fa-check" style="color:#00CF83"></i>   {{ 'home.freeSIM' | translate }}</p>
          </div>
        </div>
        <!--/Grid row-->
      </div>
      <!--/Grid column-->

    </div>

    <!--Section: Cards-->
    <br>
    <hr class="mb-5">

  <!--Section: Tabs-->
  <nav>
    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{{ 'home.fiber+mobile' | translate }}</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">{{ 'home.mobile' | translate }}</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">{{ 'home.fiber' | translate }}</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <!--Section: First tab-->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="card">
        <div class="card-body">
          <div class="row features-small mt-5 wow fadeIn">
            <div class="col-3">
              <h1>{{ 'home.fiber+9' | translate }}</h1>
            </div>
            <div class="col-4">
              <p>{{ 'home.fiber+9_desc' | translate }}</p>
            </div>
            <div class="col-3">
              <h2>29,90 €/{{ 'home.month' | translate }} </h2>
            </div>
            <div class="col-1">
              <button routerLink="/register" type="button" class="btn btn-primary">{{ 'home.hire' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row features-small mt-5 wow fadeIn">
            <div class="col-3">
              <h1>{{ 'home.fiber+17' | translate }}</h1>
            </div>
            <div class="col-4">
              <p>{{ 'home.fiber+17_desc' | translate }}</p>
            </div>
            <div class="col-3">
              <h2>33.80 €/{{ 'home.month' | translate }} </h2>
            </div>
            <div class="col-1">
              <button routerLink="/register" type="button" class="btn btn-primary">{{ 'home.hire' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row features-small mt-5 wow fadeIn">
            <div class="col-3">
              <h1>{{ 'home.fiber+52' | translate }}</h1>
            </div>
            <div class="col-4">
              <p>{{ 'home.fiber+52_desc' | translate }}</p>
            </div>
            <div class="col-3">
              <h2>37.80 €/{{ 'home.month' | translate }} </h2>
            </div>
            <div class="col-1">
              <button routerLink="/register" type="button" class="btn btn-primary">{{ 'home.hire' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Section: Second tab-->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="card">
        <div class="card-body">
          <div class="row features-small mt-5 ">
            <div class="col-3">
              <h1>{{ 'home.data9' | translate }}</h1>
            </div>
            <div class="col-4">
              <p>{{ 'home.data9_desc' | translate }}</p>
            </div>
            <div class="col-3">
              <h2>8.90 €/{{ 'home.month' | translate }} </h2>
            </div>
            <div class="col-1">
              <button routerLink="/register-no-fiber" type="button" class="btn btn-primary">{{ 'home.hire' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row features-small mt-5 ">
            <div class="col-3">
              <h1>{{ 'home.data17' | translate }}</h1>
            </div>
            <div class="col-4">
              <p>{{ 'home.data17_desc' | translate }}</p>
            </div>
            <div class="col-3">
              <h2>12.90 €/{{ 'home.month' | translate }} </h2>
            </div>
            <div class="col-1">
              <button routerLink="/register-no-fiber" type="button" class="btn btn-primary">{{ 'home.hire' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row features-small mt-5 ">
            <div class="col-3">
              <h1>{{ 'home.data52' | translate }}</h1>
            </div>
            <div class="col-4">
              <p>{{ 'home.data52_desc' | translate }}</p>
            </div>
            <div class="col-3">
              <h2>16.90 €/{{ 'home.month' | translate }} </h2>
            </div>
            <div class="col-1">
              <button routerLink="/register-no-fiber" type="button" class="btn btn-primary">{{ 'home.hire' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Section: Third tab-->
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="card">
        <div class="card-body">
          <div class="row features-small mt-5 ">
            <div class="col-3">
              <h1>{{ 'home.fiber100' | translate }}</h1>
            </div>
            <div class="col-4">
              <p>{{ 'home.fiber100_desc' | translate }}</p>
            </div>
            <div class="col-3">
              <h2>21.90 €/{{ 'home.month' | translate }} </h2>
            </div>
            <div class="col-1">
              <button routerLink="/register" type="button" class="btn btn-primary">{{ 'home.hire' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row features-small mt-5 ">
            <div class="col-3">
              <h1>{{ 'home.fiber300' | translate }}</h1>
            </div>
            <div class="col-4">
              <p>{{ 'home.fiber300_desc' | translate }}</p>
            </div>
            <div class="col-3">
              <h2>25.90 €/{{ 'home.month' | translate }} </h2>
            </div>
            <div class="col-1">
              <button routerLink="/register" type="button" class="btn btn-primary">{{ 'home.hire' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row features-small mt-5 ">
            <div class="col-3">
              <h1>{{ 'home.fiber600' | translate }}</h1>
            </div>
            <div class="col-4">
              <p>{{ 'home.fiber600_desc' | translate }}</p>
            </div>
            <div class="col-3">
              <h2>29.90 €/{{ 'home.month' | translate }} </h2>
            </div>
            <div class="col-1">
              <button routerLink="/register" type="button" class="btn btn-primary">{{ 'home.hire' | translate }}</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--Section: Tabs-->
    <br>
    <hr class="mb-5">

    <!--Section: Contratar-->
    <section>

      <h1 class="my-5 h3 text-center wow fadeIn">{{ 'home.why_imagine' | translate }}</h1>

      <!--First row-->
      <div class="row features-small mt-5 wow fadeIn">

        <!--Grid column-->
        <div class="col-xl-4 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-mobile-alt fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
            </div>
            <div class="col-10 mb-2 pl-3">
              <h5 class="feature-title font-bold mb-1">{{ 'home.mobile_deserve' | translate }}</h5>
              <p class="grey-text mt-2">{{ 'home.mobile_deserve_desc' | translate }}
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-4 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-hand-holding-usd fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">{{ 'home.simple' | translate }}</h5>
              <p class="grey-text mt-2">{{ 'home.simple_desc' | translate }}
              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-4 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-tags fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">{{ 'home.price_for_ever' | translate }}</h5>
              <p class="grey-text mt-2">{{ 'home.price_for_ever_desc' | translate }}              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->



      </div>
      <!--/First row-->

      <!--Second row-->
      <div class="row features-small mt-4 wow fadeIn">

        <!--Grid column-->
        <div class="col-xl-4 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-heart fa-2x mb-1" aria-hidden="true"  style="color:#001B6A"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">{{ 'home.love' | translate }}</h5>
              <p class="grey-text mt-2">{{ 'home.love_desc' | translate }}              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-4 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-map-marker-alt fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">{{ 'home.from_here' | translate }}</h5>
              <p class="grey-text mt-2">{{ 'home.from_here_desc' | translate }}              </p>
            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-xl-4 col-lg-6">
          <!--Grid row-->
          <div class="row">
            <div class="col-2">
              <i class="fas fa-mobile fa-2x mb-1" aria-hidden="true" style="color:#001B6A"></i>
            </div>
            <div class="col-10 mb-2">
              <h5 class="feature-title font-bold mb-1">{{ 'home.area_imagine' | translate }}</h5>
              <p class="grey-text mt-2">{{ 'home.area_imagine_desc' | translate }}            </div>
          </div>
          <!--/Grid row-->
        </div>
        <!--/Grid column-->



      </div>
      <!--/Second row-->

    </section>
    <!--Section: More-->


</main>
<!--Main layout-->







