<!--
<nav class="navbar navbar-expand-sm mb-5 navbarCustom">


  <ul class="navbar-nav mr-auto" >

    <li class="nav-item active" >

      <a class="nav-link">
        <img src="assets/img/Alogo.png"  routerLink="/">
      </a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto" >
    <a class="nav-link"  style="color: white" routerLink="/fiber">Fibra</a>

  </ul>
  <ul class="navbar-nav mr-auto" >
    <a class="nav-link"  style="color: white" routerLink="/data">Movil</a>
  </ul>
  <ul class="navbar-nav mr-auto" >
    <a class="nav-link"  style="color: white" routerLink="/plan2">Movil+Fibra</a>
  </ul>
  <ul class="navbar-nav mr-auto" >
    <a class="nav-link"  style="color: white" routerLink="/tv">TV</a>
  </ul>
  <div class="navbar-nav">
    <a class="nav-link" style="color: white" routerLink="/login" *ngIf="!loggedIn">Log In</a>
    <a class="nav-link" style="color: white" routerLink="/" *ngIf="loggedIn" (click)="logOut()">Log Out</a>
  </div>

</nav>-->

<!-- Navbar -->


<nav class="navbar navbar-expand-lg navbar-light white scrolling-navbar fixed-top">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">
      <img height="50px"src="assets/img/Recurso 8.svg" >
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">{{ 'navbar.home' | translate }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/data">{{ 'navbar.mobile' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/plan2">{{ 'navbar.mobile+fiber' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fiber">{{ 'navbar.fiber' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tv">{{ 'navbar.tv' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coverage">{{ 'navbar.coverage' | translate }}</a>
        </li>

      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item"  style="padding-top:8px;">
          <select #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
        </li>
        <li class="nav-item">
          <a href="https://www.facebook.com/imaginetelecom" class="nav-link" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/imagine_telecom/" class="nav-link" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/profile" *ngIf='(authService.isLoggedIn$ | async)' class="nav-link border border-light rounded">
            <i class="fas fa-user mr-2"></i>{{ 'navbar.profile' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" *ngIf='!(authService.isLoggedIn$ | async)' class="nav-link border border-light rounded">
            <i class="far fa-user mr-2"></i>{{ 'navbar.login' | translate }}
          </a>
          <a routerLink="/" *ngIf='authService.isLoggedIn$ | async' (click)='authService.logout()' class="nav-link border border-light rounded">
            <i class="fas fa-user-alt-slash mr-2"></i>{{ 'navbar.logout' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" *ngIf='!(authService.isLoggedIn$ | async)' class="nav-link border border-light rounded">
            <i class="far fa-user mr-2"></i>{{ 'navbar.register' | translate }}
          </a>

        </li>
      </ul>

    </div>

  </div>
</nav>


<!-- Navbar -->
